git 
/documentos
/palestras
/aulas/1-semestre/1-Desenvolvimento backend I/
/aulas/1-semestre/2-Desenvolvimento backend II/
/aulas/1-semestre/3-Desenvolvimento frontend I/
/aulas/1-semestre/4-Desenvolvimento frontend II/
/aulas/1-semestre/5-User Experience UX I/
/aulas/1-semestre/6-User Experience UX II/
/aulas/1-semestre/7-Metodos Ageis I/
/aulas/1-semestre/8-Metodos Ageis II/
/aulas/2-semestre/01-Containers I (Kubernets)/
/aulas/2-semestre/02-Containers II (Kubernets)/
/aulas/2-semestre/03-Microsserviços I/
/aulas/2-semestre/04-Microsserviços II/

#extensões ignoradas
*.pdf
*.zip
*.code-workspace